
header {
    margin: 0;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#banner {
    width: 100%;
    height: auto;
}