* {
    margin: 0;
    padding: auto;
}

body {
    background-color: black;    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#banner {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: blue;
}